* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(33, 37, 41, 255); */
  background-color: rgba(255, 235, 80, 255);
  padding: 2rem;
  height: 100vh;
  width: 100vw;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.logo-img{
  width: 50px;
  border-radius: 50%;
}

.o-x {
  position: relative;
  display: grid;
  width: 100%;
  /* height: 100px; */
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #1a83ff;
  border: 2px solid #1a83ff; */
  background-color: rgba(0, 102, 170, 255);
  gap: 1rem;
}

.win {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 0, 1) 0%,
    rgba(39, 7, 54, 0.59) 50%,
    rgba(238, 130, 238, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 0, 1) 0%,
    rgba(39, 7, 54, 0.59) 50%,
    rgba(238, 130, 238, 1) 100%
  );

  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 50%,
    rgba(0, 255, 0, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 50%,
    rgba(0, 255, 0, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 50%,
    rgba(0, 255, 0, 1) 100%
  );

  background: -ms-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 50%,
    rgba(0, 255, 0, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 50%,
    rgba(0, 255, 0, 1) 100%
  );
  font-size: 1.3rem;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-draw,
.winner-x,
.winner-o {
  text-align: center;
  font-size: 3rem;
}

.d0,
.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.d7,
.d8 {
  display: flex;
  background-color: rgba(255, 235, 80, 255);
  /* background-color: rgba(33, 37, 41, 255); */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #f5f5f5;
  cursor: pointer;
  /* width: 100px; */
  height: 15vw;
  box-sizing: border-box;
}

.d0:hover,
.d1:hover,
.d2:hover,
.d3:hover,
.d4:hover,
.d5:hover,
.d6:hover,
.d7:hover,
.d8:hover {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );

  background: -ms-linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );
}

.turn-score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(30,45,100,255);
  width: 75%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.6rem;
  border-radius: 12px;
}

.turn {
  align-self: center;
  justify-self: center;
  font-size: 4rem;
  color: #f5f5f5;
}

.o-x-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-score {
  padding: 0.7rem;
  background-color: green;
  color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.o-score {
  padding: 0.7rem;
  background-color: red;
  color: #f5f5f5;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.replay {
  background-color: red;
  width: 75%;
  padding: 1.2rem;
  text-align: center;
  color: #f5f5f5;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

@media only Screen and (min-width: 820px) {
  .d0,
  .d1,
  .d2,
  .d3,
  .d4,
  .d5,
  .d6,
  .d7,
  .d8 {
    height: 110px;
  }
  .o-x{
    width: 75%;
  }
}

@media only Screen and (min-width: 930px){
  .o-x{
    width: 650px;
  }
  .replay{
    width: 632.4px;
  }
  .turn-score{
    width: 630.6px;
  }
}